.div-header > h1, h2, p, span {
    color:var( --color-grey-6) ;
}

.div-header > h1{
    margin-top:var(--title-1);
    font-size: var( --title-4);
}
.div-header > h2{
    font-size: var(--title-3);
}

.div-header > p{
    font-size:var( --text-2);
    font-weight: 600;
}

.section-vagas > h3  {
color: var(--color-grey-2);
}

.h2-vagas{
    color: var(--color-grey-1);
    font-size: 22px;
    font-weight: 600;
    margin: 60px -9px 70px;
}
.section-vagas > div > p{
    color: var(--color-grey-2   );
    line-height: var( --title-3);
}

.paragraph-lorem{
    line-height: var(  --title-3);
}

.title-vagas-selecionadas{
    color: var(--color-grey-1);
    margin: 80px 0 80px 0;
}

.paragraph-vagsSelecionadas{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-grey-2);
}

@media (min-width:782px){
   .title-vagas-selecionadas{
    margin: 25px 0 80px 0
   }
    
}

